@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro INC</h1>
    <p>Gerenciador de cadastro empresarial, desenvolvido com ASP.NET Core. <a href="https://docs.microsoft.com/aspnet/core"> Documentação ASP.NET Core</a>.</p>
</div>
